@keyframes wobble {
	0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    } 

    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
        box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.7);
    }

    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

@keyframes slideleftright {
    0% {
        left: -2px;
    }

    50% {
        left: 3px;
    }

    100% {
        left: -2px;
    }
} 

@keyframes perspectiveslide {
    0% {
        perspective-origin: 40% 50%;
    }

    50% {
        perspective-origin: 60% 50%;
    }

    100% {
        perspective-origin: 40% 50%;
    }
}
