/* cairo-200 - latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/cairo-v17-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cairo-v17-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-regular - latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/cairo-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cairo-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cairo-700 - latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/cairo-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cairo-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    box-sizing: content-box;
}

:root {
    --main-button-color: rgb(0, 56, 56);
    --green-color: rgb(0, 88, 0);
}

body{
    min-height: 100vh;
    display: block;
    margin: 0;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    text-align: center;
}

p{
    margin: 0;
    line-height: 1;
}

h1{
    margin-top: 0;
    padding-top: 30px;
}

h2{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    line-height: 1;
}

h3{
    margin: 0;
    margin-bottom: 10px;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* Display Page */
.display{
    background-image: url("../images/displaybackground.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.507);
    position: relative;
}

.display_cards{
    max-width: 1200px;
    margin: 0 auto;
}

.display img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.display_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display_row.admin{
    justify-content: center;
}

.big_number{
    font-size: 400px;
    line-height: 0.8;
    margin: 10px 0;
    display: block;
    padding: 0;
    pointer-events: none;
}

.big_number.admin{
    font-size: 100px;
}

.large_number{
    font-size: 50px;
}

.display kbd{
    font-size: 50px;
    width: auto;
    margin-bottom: 10px;
}

.display_guests{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.current_group{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 18px;
    color: #4d4d4d;
}

.groupid {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    display: block;
    font-weight: 700;
    line-height: 1;
    padding: 1px 4px;
    margin: 0px 5px 5px 0;
    width: auto;
    cursor: pointer;
}

.current_group.admin{
    font-size: 2vh;
    color: white;
    bottom: 20px;
}

.display_row_block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.display_row_block.admin{
    padding: 0 20px;
}

.roundbutton{
    padding: 20px;
    display: block;
    background-color: var(--main-button-color);
    color: white;
    text-decoration: none;
    font-size: 60px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    line-height: 1;
}

.next_group{
    display: block;
    margin: 20px auto;
    position: relative;
    font-size: 20px;
}

.next_group .textbutton{
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-color: green;
    display: block;
    padding: 10px;
    width: auto;
    max-height: 0px;
    overflow: hidden;
}

.groupid.checkedin{
    background-color: green;
    color: white;
}

.next_group.visible .textbutton{
    pointer-events: all;
    opacity: 1;
    max-height: 200px;
}

.showhide_nextgroup{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px;
    width: auto;
}
