@import "fonts";
@import "normalize";
@import "variables";
@import "typography";
@import "forms";
@import "animations";

@import "display";
@import "admin";
@import "slider";

.title_wrap{
    display: flex;
    width: auto;
    justify-content: center;
    padding: 10px;
}

.title_image{
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.status_banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 -10px;
    background-color: $main-button-color;
    backdrop-filter: blur(3px);
    padding: 15px 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.7);
}

.closed_banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 -10px;
    height: 100vh;
    background-color: rgba(29, 0, 0, 0.9);
    backdrop-filter: blur(4px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: inline;
    flex-shrink: 0;
    text-align: left;
    margin: 0;
    padding: 0;
}

.content_wrap{
    padding: 0 20px;
}

.numberlist{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;
}

.numberlist a{
    min-width: 10%;
    margin: 5px;
}

.hint{
    display: flex;
    width: auto;
    padding: 20px;
    background-color: $main-button-color; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    max-height: 50px;
    overflow: hidden;
    transition: 0.6s; /* 600ms to fade out */

    &.error{
        background-color: #f44336; /* Red */
    }

    &.hidden{
        max-height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }
}

.closebtn {
    width: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: black;
    }
}

.placeinline_wrap{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    aspect-ratio: 1;
    max-height: 500px;
    max-width: 100%;
    padding: 0;
    text-align: center;
    font-size: 30vh;
    font-weight: 700;
    border-radius: 20px;
    margin: 30px auto;
    animation: wobble 10s infinite;

    &.finished {
        background-color: $green-color;
        font-size: 30px;
        font-weight: 500;

        &::before{
            background: rgb(0,88,2);
            background: radial-gradient(circle, rgba(0,88,2,1) 15%, rgba(0,56,7,1) 100%);
        }
    }

    &.toolate {
        background-color: $green-color;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
        height: auto;
        width: 100%;
        padding: 40px 0px;
        box-sizing: content-box;
        animation: none;

        &::before{
            background: rgb(4, 121, 0);
            background: radial-gradient(circle, rgb(4, 121, 0) 15%, rgba(43,43,43,1) 100%);
        }
    }

    &::before{
        content: '';
        z-index: -100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(41, 41, 41);
        transition: background-color 0.5s;
    }
}

.footer{
    border-top: 1px solid white;
    margin-top: 40px;

    .bottomline{
        font-weight: 100;
        font-size: 13px;
        a{
            font-weight: 700;
        }
    }
}

@media screen and (min-width:600px) {

    .title_wrap{
        padding: 30px;
    }
    .placeinline_wrap.finished{
        font-size: 40px;
    }
}

.placeinline_block{
    overflow: hidden;
    width: 100;
}

.socials{
    margin: 10px 0;
}
