body{
    min-height: 100vh;
    display: block;
    margin: 0;
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    text-align: center;
}

p{
    margin-top: 0;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
}

h1{
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
}

h2{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    line-height: 1;
}

h3{
    margin: 0;
    margin-bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.button{
    background-color: var(--main-button-color);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px 0;
}

.button:hover{
    background-color: rgb(0, 94, 94);
}
