$main-button-color: rgb(0, 56, 56);
$green-color: rgb(0, 88, 0);

$colorPrimary: rgb(0, 60, 60);
$colorPrimaryDark: rgb(0, 40, 40);
$colorPrimaryLight: rgb(0, 80, 80);
$colorPrimaryExtraLight: rgb(105, 131, 131);

$colorLightGray: rgb(200, 200, 200);
